html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    max-width: 800px;
}

@media (min-width: 801px) {
    body {
        border: 1px solid black;
    }
}

img {
    width: 100%;
}

li {
    list-style: none;
}

#master-root {
    position: relative;
    min-height: 300px;
    max-height: 100px;
    overflow: hidden;
}

.card {
    background-color: white;
    background-size: cover;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    height: 200px;
    width: 180px;
    margin: 0 auto;
    border-radius: 3px;
}

.animate {
    transition: transform .3s;
}

.alert {
    width: 45%;
    height: 10%;
    position: absolute;
    top: 0;
    z-index: 9999;
    opacity: 0;
    transition: opacity .5s;
    color: white;
    vertical-align: middle;
    line-height: 3rem;
}

.alert-visible {
    opacity: 1;
}

.alert-right {
    right: 0;
    background: red;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.alert-left {
    left: 0;
    background: orange;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
