html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

h1 {
  font-weight: 500;
}

#master-root {
  margin: 20px auto;
  position: relative;
  min-height: 300px;
  max-height: 100px;
  width: 300px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.card {
  background-color: white;
  background-size: cover;
  position: absolute;
  background: #F8F3F3;
  height: 200px;
  width: 180px;
  margin: 0 auto;
  border-radius: 3px;
}

.animate {
  transition: transform .3s;
}

.alert {
  width: 45%;
  height: 10%;
  position: absolute;
  top: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  right: 0;
  background: green;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alert-left {
  left: 0;
  background: red;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
